body{
    background-image: url("../images/volcan1.jpg");
}
#container{
    width:400px;
    margin: auto;
    margin-top:10%;
    position: relative;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background-image: url("../images/white.jpeg");
}
#container h1{
    width: 38%;
    margin: auto;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#error p{
    display: block;
    color: white;
    border: 1px solid red;
    background: red;
    width: 320px;
    border-radius: 1em;
    margin-left: 60px;
}
input[type=submit] {
    background-color: #2E8B57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

h1 {
    border: solid 1px;
    padding: 10px;
    padding-left: 120px;
    padding-right: 125px;
    border-color: #2E8B57;
    background: #2E8B57;
    color: white;
}

@media (max-width: 800px) {

    body{
        width: 100%;
    }
    
    #container {

        width: 250px;
        padding-right: 65px;
    }

    h1 {
        
        border: solid 1px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 100px;
        margin-right: 40px;
        border-color: #2E8B57;
        background: #2E8B57;
        color: white;
    }

    input[type=submit] {
        width: 100%;
    }

    #error p {

        margin-right: 70px;
    }

}