.outer {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.outer .chart-container {
	width: 300px;
	float: left;
	height: 200px;
}
.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}

.jauges {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.jauges .chart-container {
	width: 300px;
	float: left;
	height: 200px;
}

@media (max-width: 800px) {
	.outer {
		width: 100%;
	}
	.outer .chart-container {
		width: 300px;
		float: none;
		margin: 0 auto;
	}
}