/************************ CORPS DES PAGES ************************/
 body {
     background-color: white;
     background-size: cover;
     height: 100%;
     overflow-y: auto;
}
 #logo {
     display: flex;
     flex-direction: row;
}
 #logo img {
     width: 100px;
     height: 90px;
     float: left;
}
 header h1 {
     font-family: 'BallparkWeiner', serif;
     font-size: 2.7em;
     font-weight: normal;
     margin: 0 0 0 10px;
}
 #main1 img {
     width: 400px;
     height: 400px;
}
 #main2 img {
     width: 150px;
     height: 200px;
}
 #logo h1 {
     opacity: 0.9;
}
 #titre {
     text-align: center;
     background-image: url("../images/volcan.jpg");
     background-size: 100%;
     color: silver;
     padding : 5px;
     font-size: 2.2em;
}
 .active {
     background-color: red;
     border-radius: 10px;
}
/************************ MENU PRINCIPAL ************************/
 nav ul {
     background-color: #333;
     width: 100%;
     padding: 0;
     margin: 0;
}
 nav ul li {
     position: relative;
     display: inline-block;
     list-style-type: none;
     margin: 0;
     padding: 10px 0;
}
 nav ul li:hover {
     background: red;
}
 nav ul li a {
     color: #fff;
     text-decoration: none;
     padding: 12px;
     font-size: 14.3px;
     font-weight: bold;
}
 nav ul li a:hover {
     color: #fff;
     text-decoration: none;
}
/************************ SOUS MENU ************************/
 nav ul li.parent ul.child {
     display: none;
}
 nav ul li.parent:hover ul.child {
     display: block;
     position: absolute;
     z-index: 10;
     top: 50px;
     background: #333;
     text-decoration: none;
}
 nav ul li.parent ul.child li {
     width: 9em;
     padding: 0;
}
 nav ul li#parent ul.child li {
     width: 10.7em;
}
 nav ul li.parent ul.child li:hover {
     background: red;
}
 nav ul li.parent ul.child li a {
     display: block;
}
/************************ GRAPHIQUES ************************/
 #temperature1 {
     width: 100%;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
 #temperature2 {
     width: 100%;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
 #temperature3 {
     width: 100%;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
 #hygrometrie1 {
     min-width: 310px;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
 #hygrometrie2 {
     min-width: 310px;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
 #hygrometrie3 {
     min-width: 310px;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
 #pression {
     min-width: 310px;
     height: 400px;
     margin: 0 auto;
     padding: 30px;
}
/************************ BLOCS ET BOUTONS DES PAGES ************************/
 #received {
     height: 200px;
     overflow-y:scroll;
     overflow-x: scroll;
     white-space: nowrap;
     background-color: black;
     color: #00FF00;
}
 #box {
     margin: 0px;
     padding: 5px;
}
 .button {
     background-color: #4CAF50;
     border: none;
     border-radius: 12px;
     color: white;
     padding: 5px 10px;
     text-align: center;
     display: inline-block;
     font-size: 14px;
     cursor: pointer;
     box-shadow: 0 5px #999;
     font-weight: bold;
}
 .button:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
}
 #stop {
     background-color: red;
}
 #clear {
     background-color: red;
}
 #apply {
     background-color: green;
     color: white;
}
 #save {
     border-radius: 2px;
     background-color: green;
     color: white;
}
 #envoi {
    background-color: green;
    color: white;
    font-weight: bold;

}
 #add {
     font-weight: bold;
}
 #add1 {
     margin: 10px;
     font-weight: bold;
}
 .filtre {
     padding : 20px;
}
 #tree {
     padding: 20px;
     padding-top: 0px;
     font-size: 18px;
}
 #box1 #update {
     margin: 0px;
}
 #box2 #clear {
     margin: 0px;
}
 table td {
     border-collapse: separate;
     border: 2px solid white;
     background-color: #333;
     border-spacing: 5px 8px;
     color: white;
     width: 200px;
     padding: 10px;
}
/************************ CONFIGURATION CAPTEURS ************************/
 input {
     width: 100%;
     box-sizing: border-box;
}
 input[type="checkbox"] {
     width: 18px;
     height: 18px;
}
 input[type="text"]:disabled {
     background: white;
     color: black;
}
 .row input {
     text-align: center;
}
 .row h1 {
     border: solid 1px;
     width: 100%;
     font-weight: bold;
     border-radius: 5px;
     background-color: orange;
     color: white;
     border-color: orange;
}
 .row h3 {
     border: solid 1px;
     border-radius: 8px;
     width: 100%;
     font-weight: bold;
     text-align: center;
     background-color: orange;
     color: white;
     border-color: orange;
     padding-bottom: 3px;
}
 .column {
     float: left;
     width: 25%;
     padding: 10px;
     color: #333;
}
 #capteurs {
     border: solid 1px #D3D3D3;
     background-color: #D3D3D3;
     border-radius: 8px;
     width: 20%;
     padding-right: 15px;
     font-weight: bold;
}
 #ajout {
     width: 30%;
     background-color: #ddd;
}
 #ajout h1 {
     padding: 10px;
     background-color: orange;
     color: white;
     font-weight: bold;
}
 #ajout input {
     display: block;
     width: 40%;
}
/************************ CONFIGURATION RESEAU ************************/
 #config {
     background-color: #bbb;
}
 #config h3 {
     border: 5px solid;
     border-radius: 2px;
     border-color: orange;
     width: 100%;
}
 #config input {
     width: 80%;
}
 #config p {
     font-weight: bold;
}
/************************ POPUP BDD OU WEB SOCKET ************************/
 #confirm {
     display: none;
     background-color: orange;
     border: 1px solid #aaa;
     position: relative;
     width: 300px;
     padding: 6px 8px 8px;
     box-sizing: border-box;
     text-align: center;
     z-index: 30;
}
 #confirm button {
     background-color: white;
     color: black;
     display: inline-block;
     border-radius: 5px;
     border: 1px solid #aaa;
     padding: 0px;
     text-align: center;
     width: 100px;
     cursor: pointer;
}
 #confirm .message {
     text-align: left;
}
/************************ LA CARTE ************************/
 #map {
     height: 600px;
     margin: auto;
     padding: 10px;
     width: 90%;
     border: solid 1px black;
     border-radius: 12px;
     z-index: 2;
}
 #depart {
     border-radius: 2px;
}
/************************ LES CHECKBOXES ************************/
 label {
     display: block;
     padding-left: 15px;
     text-indent: -15px;
}
 label input {
     display: inline-block;
     width: 18px;
     height: 18px;
     padding: 0;
     margin:0;
     vertical-align: bottom;
     position: relative;
}
/************************ BAS DE PAGE ************************/
 footer {
     position: relative;
     width: 100%;
     top: 400px;
     background-color: #333;
     padding : 1px;
     height: auto;
}
 footer p {
     text-align: center;
     color: white;
     margin: 15px;
}
/************************ RESPONSIVE ************************/
 @media screen and (max-width: 800px) {
     #input {
         width: 100%;
    }
     .row p {
         font-size: 10px;
    }
     input {
         width: 100%;
    }
     #reseau {
         margin: auto;
         width: 100%;
         background-color: #bbb;
    }
     #reseau h3 {
         border: 10px solid;
         border-radius: 2px;
         border-color: orange;
         width: 100%;
    }
     #reseau p {
         width: 100%;
    }
     #reseau input {
         width: 100%;
    }
     #save {
         width: 100%;
    }
     #apply {
         width: 100%;
    }
     #ajout {
         width: 80%;
         background-color: #ddd;
    }
     #ajout input {
         width: 80%;
    }
}
